

# Archivos de entorno remoto de VS Code
.vscode/
.vscode-server/

.history
.cache

# ===========================
# TOKENS Y CREDENCIALES - NUNCA subir a GitHub
# ===========================
devops/docker/caronte/common/tokens.txt
**/tokens.txt
**/tokens_privados.txt

# Claves privadas SSH
devops/docker/caronte/common/id_ed25519

# Archivos temporales del sistema
.sudo_as_admin_successful
.wget-hsts
.lesshst
.bash_history